
.form {
  width: 40%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

label {
  color: blue;
  font-size: 2vw;
}

#fName {
  border: 1px solid;
  height: 2vw;
  border-radius: 1vw;
}

#lName {
  border: 1px solid;
  height: 2vw;
  border-radius: 1vw;
}

#email {
  border: 1px solid;
  height: 2vw;
  border-radius: 1vw;
}

#mNo {
  border: 1px solid;
  height: 2vw;
  border-radius: 1vw;
}

#concern {
  border: 1px solid;
  height: 6vw;
  width: 70%;
  border-radius: 1vw;
  resize: both;
}

input {
  width: 50%;
  margin-bottom: 2%;
}

#submit {
  width: 40%;
  height: 3vw;
  font-size: 1.7vw;
  border-radius: 1vw;
  color: white;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}

h1 {
  animation: colorChange 3s ease-in-out infinite;
}

@keyframes bgChange {
  0% {
    background-color: black;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: rgb(30, 32, 30);
  }
}

#submit {
  animation: bgChange 3s ease-in-out infinite;
}


@media only screen and (max-width: 770px) {
  .form {
    width: 70%;
  }

  label {
    font-size: 3.5vw;
  }

  #fName,
  #lName,
  #email,
  #mNo {
    height: 5vw;
    border-radius: 2vw;
  }

  #concern {
    height: 20vw;
    width: 90%;
    border-radius: 2vw;
  }

  input {
    width: 70%;
  }

  #submit {
    width: 60%;
    height: 5vw;
    font-size: 3vw;
    border-radius: 2vw;
  }
}


@media only screen and (max-width: 480px) {
  .form {
    width: 90%;
    margin-top: 20%;
  }

  label {
    font-size: 6vw;
  }

  #fName,
  #lName,
  #email,
  #mNo {
    height: 8vw;
    border-radius: 4vw;
  }

  #concern {
    height: 30vw;
    width: 95%;
    border-radius: 4vw;
  }

  input {
    width: 80%;
  }

  #submit {
    width: 80%;
    height: 8vw;
    font-size: 5vw;
    border-radius: 4vw;
  }
}
